@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO: create global styles here for the following... */

/* TODO: Page Header */
/* TODO: Card Container */
/* TODO: Navigation Link (migrate styles from nav component) */
/* TODO: Button (primary, secondary, tertiary) */

.section {
  @apply mt-2 mb-4;
}
.section-title {
  @apply font-medium text-lg text-gray-900;
}
.section-body {
  @apply font-light text-sm text-gray-700;
}

.animate-slide-left {
  animation: slide-left 200ms forwards;
}
.animate-slide-right {
  animation: slide-right 200ms forwards;
}

@keyframes slide-left {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}

@keyframes slide-right {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
